.packlist
AbstractMenu.o
AccelTable.o
Application.o
Clipboard.o
Component.o
DeviceBitmap.o
Drawable.o
File.o
Icon.o
Image.o
Makefile
Menu.o
Object.o
Popup.o
Prima/Config.pm
Printer.o
Timer.o
Utils.o
Widget.o
Widget_geometry.o
Window.o
auto/Prima/Prima.a
auto/Prima/Prima.dll
auto/Prima/Prima.so
img/bc_color.o
img/bc_const.o
img/bc_extra.o
img/codec_X11.o
img/codec_Xpm.o
img/codec_bmp.o
img/codec_jpeg.o
img/codec_png.o
img/codec_tiff.o
img/codec_ungif.o
img/codecs.c
img/codecs.o
img/conv.o
img/ic_conv.o
img/img.o
img/imgscale.o
img/imgtype.o
img/put.o
include/generic/AbstractMenu.h
include/generic/AbstractMenu.inc
include/generic/AbstractMenu.tml
include/generic/AccelTable.h
include/generic/AccelTable.inc
include/generic/AccelTable.tml
include/generic/Application.h
include/generic/Application.inc
include/generic/Application.tml
include/generic/Clipboard.h
include/generic/Clipboard.inc
include/generic/Clipboard.tml
include/generic/Component.h
include/generic/Component.inc
include/generic/Component.tml
include/generic/DeviceBitmap.h
include/generic/DeviceBitmap.inc
include/generic/DeviceBitmap.tml
include/generic/Drawable.h
include/generic/Drawable.inc
include/generic/Drawable.tml
include/generic/File.h
include/generic/File.inc
include/generic/File.tml
include/generic/Icon.h
include/generic/Icon.inc
include/generic/Icon.tml
include/generic/Image.h
include/generic/Image.inc
include/generic/Image.tml
include/generic/Menu.h
include/generic/Menu.inc
include/generic/Menu.tml
include/generic/Object.h
include/generic/Object.inc
include/generic/Object.tml
include/generic/Popup.h
include/generic/Popup.inc
include/generic/Popup.tml
include/generic/Printer.h
include/generic/Printer.inc
include/generic/Printer.tml
include/generic/Timer.h
include/generic/Timer.inc
include/generic/Timer.tml
include/generic/Types.h
include/generic/Types.inc
include/generic/Types.tml
include/generic/Utils.h
include/generic/Utils.inc
include/generic/Utils.tml
include/generic/Widget.h
include/generic/Widget.inc
include/generic/Widget.tml
include/generic/Window.h
include/generic/Window.inc
include/generic/Window.tml
include/generic/config.h
include/generic/thunks.tinc
makefile.log
primguts.o
win32/Prima.def
win32/apc.o
win32/clip.o
win32/cursor.o
win32/dev.o
win32/files.o
win32/global.o
win32/gp.o
win32/misc.o
win32/stock.o
win32/timers.o
unix/apc_app.o
unix/apc_clipboard.o
unix/apc_event.o
unix/apc_font.o
unix/apc_graphics.o
unix/apc_img.o
unix/apc_menu.o
unix/apc_misc.o
unix/apc_pointer.o
unix/apc_timer.o
unix/apc_widget.o
unix/apc_win.o
unix/color.o
unix/gtk.o
unix/xft.o
auto/
vc100.pdb 
AbstractMenu.obj
AccelTable.obj
Application.obj
Clipboard.obj
Component.obj
DeviceBitmap.obj
Drawable.obj
File.obj
Icon.obj
Image.obj
Menu.obj
Object.obj
Popup.obj
Printer.obj
Timer.obj
Utils.obj
Widget.obj
Widget_geometry.obj
Window.obj
img/bc_color.obj
img/bc_const.obj
img/bc_extra.obj
img/codec_X11.obj
img/codec_Xpm.obj
img/codec_bmp.obj
img/codec_jpeg.obj
img/codec_png.obj
img/codec_tiff.obj
img/codec_ungif.obj
img/codecs.obj
img/conv.obj
img/ic_conv.obj
img/img.obj
img/imgscale.obj
img/imgtype.obj
img/put.obj
primguts.obj
vc100.pdb
win32/apc.obj
win32/clip.obj
win32/cursor.obj
win32/dev.obj
win32/files.obj
win32/global.obj
win32/gp.obj
win32/misc.obj
win32/stock.obj
win32/timers.obj
META.yml
MYMETA.yml
Makefile.old
Prima.bs
Prima/VB/VB
Prima/VB/cfgmaint
blib/
pm_to_blib
utils/fmview
utils/gencls
utils/p-class
utils/podview
utils/tmlink
