.packlist
api/*.o
class/*.o
class/*/*.o
Makefile
auto/Prima/Prima.a
auto/Prima/Prima.dll
auto/Prima/Prima.so
img/*.o
img/codecs.c
include/generic/*.h
include/generic/*.inc
include/generic/*.tml
makefile.log
primguts.o
win32/Prima.def
win32/*.o
unix/*.o
auto/
vc100.pdb 
api/*.obj
class/*.obj
class/*/*.obj
img/*.obj
vc100.pdb
win32/*.obj
META.yml
MYMETA.yml
MYMETA.json
Makefile.old
Prima/Config.pm
Prima.bs
Prima/VB/VB
Prima/VB/prima-cfgmaint
blib/
pm_to_blib
utils/prima-fmview
utils/prima-gencls
utils/prima-class
utils/podview
utils/prima-tmlink
utils/prima-pod2pdf
Prima.def
makepl.log
*.swp
*.log
*.eps
include/generic
Prima/VB/cfgmaint
utils/fmview
utils/gencls
utils/makedoc/Prima.cache.tex
utils/makedoc/Prima.tex
utils/makedoc/Prima.aux
utils/makedoc/Prima.dvi
utils/makedoc/Prima.idx
utils/makedoc/Prima.pdf
utils/makedoc/Prima.ps
utils/makedoc/Prima.toc
utils/makedoc/out.tex
utils/p-class
utils/tmlink
utils/par.txt
makefile.log.old

