.packlist
AbstractMenu.o
AccelTable.o
Application.o
Clipboard.o
Component.o
DeviceBitmap.o
Drawable.o
File.o
Icon.o
Image.o
Makefile
Menu.o
Object.o
Popup.o
Prima/Config.pm
Printer.o
Timer.o
Utils.o
Widget.o
Widget_geometry.o
Window.o
auto/Prima/Prima.a
auto/Prima/Prima.dll
auto/Prima/Prima.so
img/bc_color.o
img/bc_const.o
img/bc_extra.o
img/codec_X11.o
img/codec_Xpm.o
img/codec_bmp.o
img/codec_jpeg.o
img/codec_png.o
img/codec_tiff.o
img/codec_ungif.o
img/codecs.c
img/codecs.o
img/conv.o
img/ic_conv.o
img/img.o
img/imgscale.o
img/imgtype.o
img/put.o
include/generic/AbstractMenu.h
include/generic/AbstractMenu.inc
include/generic/AbstractMenu.tml
include/generic/AccelTable.h
include/generic/AccelTable.inc
include/generic/AccelTable.tml
include/generic/Application.h
include/generic/Application.inc
include/generic/Application.tml
include/generic/Clipboard.h
include/generic/Clipboard.inc
include/generic/Clipboard.tml
include/generic/Component.h
include/generic/Component.inc
include/generic/Component.tml
include/generic/DeviceBitmap.h
include/generic/DeviceBitmap.inc
include/generic/DeviceBitmap.tml
include/generic/Drawable.h
include/generic/Drawable.inc
include/generic/Drawable.tml
include/generic/File.h
include/generic/File.inc
include/generic/File.tml
include/generic/Icon.h
include/generic/Icon.inc
include/generic/Icon.tml
include/generic/Image.h
include/generic/Image.inc
include/generic/Image.tml
include/generic/Menu.h
include/generic/Menu.inc
include/generic/Menu.tml
include/generic/Object.h
include/generic/Object.inc
include/generic/Object.tml
include/generic/Popup.h
include/generic/Popup.inc
include/generic/Popup.tml
include/generic/Printer.h
include/generic/Printer.inc
include/generic/Printer.tml
include/generic/Timer.h
include/generic/Timer.inc
include/generic/Timer.tml
include/generic/Types.h
include/generic/Types.inc
include/generic/Types.tml
include/generic/Utils.h
include/generic/Utils.inc
include/generic/Utils.tml
include/generic/Widget.h
include/generic/Widget.inc
include/generic/Widget.tml
include/generic/Window.h
include/generic/Window.inc
include/generic/Window.tml
include/generic/config.h
include/generic/thunks.tinc
makefile.log
primguts.o
win32/Prima.def
win32/apc.o
win32/clip.o
win32/cursor.o
win32/dev.o
win32/files.o
win32/global.o
win32/gp.o
win32/misc.o
win32/stock.o
win32/timers.o
unix/apc.o
unix/clip.o
unix/cursor.o
unix/dev.o
unix/files.o
unix/global.o
unix/gp.o
unix/misc.o
unix/stock.o
unix/timers.o
